@import '../../themes.scss';

.heroContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&:before {
		background-image: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
		background-size: cover;
		content: '';
		opacity: 0.2;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 1;
	}
}

.heroContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	// color: $neutral;
	// text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
	h3 {
		font-size: 5rem;
		font-family: $montserrat;
		margin-left: -8px;
		// width: 100%;
	}
	h4 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.2rem;
		font-family: $roboto;
		padding-top: 1rem;
	}
	a {
		text-decoration: none;
		color: black;
		font-size: 1.3rem;
		margin-top: 1.5rem;
	}
}

.learnBtn {
	padding: 1rem 1rem;
	width: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1rem;
	border: none;
	border-radius: 0.2rem;
	background: $secondary;
	cursor: pointer;
	color: $neutral;
	font-weight: 600;
	box-shadow: 0 1px 3px black;
	&:hover {
		i {
			animation: rotateArrowDown 0.2s ease-out forwards;
		}
	}
}

@keyframes rotateArrowDown {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}

@media (max-width: 525px) {
	.heroContainer {
		&:before {
			background-position: -25rem;
		}
	}
	.heroContent {
		h3 {
			font-size: 2.5rem;
			margin-left: -3px;
			text-align: center;
		}
		p {
			font-size: 1.1rem;
		}
	}
	a {
		width: 100%;
	}
	.learnBtn {
		justify-content: center;
		width: 100%;
		i {
			margin-left: 2rem;
		}
	}
}
