@import '../../themes.scss';

* {
  padding: 0;
  margin: 0;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &:after {
    background-image: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    // background-position: center -185px;
    content: '';
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  &:before {
    background-color: #85dcb0;
    content: '';
    // opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #efefef;
  h3 {
    font-size: 5rem;
    font-family: $montserrat;
    margin-left: -8px;
    // width: 100%;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
    font-family: $roboto;
    padding-top: 1rem;
    // width: 75%;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
  }
}

.learnBtn {
  margin-top: 1rem;
  padding: 0.5rem 0;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: blue;
  transition: transform 0.3s ease-in;
  &:hover {
    i {
      animation: rotateArrow 0.2s ease-out forwards;
    }
  }
}

@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
