@import '../../../themes.scss';

.projectContainer {
  width: 45%;
  height: 100%;
  background: $accent;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: $primary;
  border-radius: 0.3rem;
  transition: transform 0.2s linear, box-shadow 0.3s ease-in-out;
  img {
    width: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
  }
  .projectBtns {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    button {
      font-size: 0.8rem;
      padding: 0.5rem 1.5rem;
      // margin-right: 1rem;
      border: none;
      border-radius: 0.2em;
      background: none;
      background: $secondary;
      color: $neutral;
      cursor: pointer;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      transition: all 0.2s linear;
      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: $accent;
  height: 20vh;
  margin: 0rem 1rem;
  h3 {
    font-weight: 900;
    font-family: $montserrat;
    font-size: 1.2rem;
    &:after {
      content: '';
      display: block;
      height: 2px;
      background: $primary;
      margin: 0.5rem 0;
    }
  }
  p {
    line-height: 1.2rem !important;
  }
}

@media (max-width: 768px) {
  .projectContainer {
    width: 75%;
    transition: none;
    margin: 1rem 0;
    .projectBtns {
      button {
        transition: none;
      }
    }
  }
}
