@import '../../themes.scss';

.aboutContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // &:before {
  //   background: $accent;
  //   content: '';
  //   opacity: 0.3;
  //   top: 0;
  //   left: -200px;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: 1;
  //   width: 100vw;
  // }
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    border: 4px solid $accent;
    padding: 2rem 4rem;
    font-size: 2.5rem;
    font-family: $montserrat;
    text-align: center;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.5);
  }
  p {
    margin-top: 2rem;
  }
  img {
    width: 300px;
    border-radius: 50em;
    margin-bottom: 2rem;
    border: 4px solid $accent;
  }
}
