@import '../../themes.scss';

.aboutContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    border: 4px solid $accent;
    padding: 2rem 4rem;
    font-size: 2.5rem;
    font-family: $montserrat;
    text-align: center;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.5);
  }
  p {
    margin-top: 2rem;
  }
  img {
    width: 300px;
    border-radius: 50em;
    margin-bottom: 2rem;
    border: 4px solid $accent;
  }
}

@media (max-width: 525px) {
  .aboutContent {
    h2 {
      font-size: 1.5rem;
      padding: 1rem;
      box-shadow: none;
    }
    p {
      margin-top: 1rem;
      line-height: 1.2rem !important;
    }
  }
}
