@import '../../themes.scss';

.navbarContainer {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  position: fixed;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
}

.navbarContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  background: #e27d60;
  h1,
  p,
  i {
    color: white;
    // border: 1px solid white;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 50px;
    border-radius: 50em;
    margin-top: 1rem;
    border: 2px solid white;
  }
  .fas,
  .fab {
    font-size: 1.5rem;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    padding: 1rem 0;
    color: #efefef;
    &:hover {
      opacity: 1;
    }
  }

  #top {
    .home {
      opacity: 1;
      background: blue;
    }
  }

  .social {
    i {
      font-size: 1rem;
      padding: 0.5rem 0;
    }
  }
}

.linkTitle {
  display: none;
}

.mobileNavContainer {
  display: none;
}

// @media (max-width: 768px) {
//   .mobileNavContainer {
//   }
//   .navbarContent {
//     position: absolute;
//     left: -50vw;
//   }
//   .navbarContent {
//     width: 35vw;
//     img {
//       width: 75px;
//     }
//   }
//   .linkTitle {
//     display: block;
//     font-size: 0.7rem;
//   }
//   .fab,
//   .fas {
//     opacity: 1;
//     font-size: 2rem;
//   }
//   .social {
//     i {
//       font-size: 1.3rem;
//     }
//   }
//   p {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     span {
//       padding-top: 0.5rem;
//     }
//   }
// }
