@import '../../themes.scss';

.navbarContainer,
.mobileNavbarContainer {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
  animation-duration: 0.3s;
}

.navbarContent,
.mobileNavbarContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  min-height: 100vh;
  background: $secondary;
  h1,
  p,
  i {
    color: white;
    // border: 1px solid white;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 60px;
    border-radius: 50em;
    margin-top: 0.5rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  }
  a {
    text-decoration: none;
    font-family: $raleway;
    font-size: 0.8rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.507);
    .linkTitle,
    p {
      display: block;
      text-align: center;
    }
    span {
      margin-top: -1rem;
      transition: all 0.2s ease-out;
      opacity: 0;
      display: none;
    }
    &:hover {
      span {
        margin: 0;
        opacity: 1;
      }
    }
    &:hover {
      .fas,
      .fab {
        opacity: 1;
      }
    }
  }
  .fas,
  .fab {
    font-size: 1.7rem;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.1s ease-in;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: $neutral;
    &:hover {
      opacity: 1;
    }
  }
  .social {
    i {
      font-size: 1rem;
      padding: 0.5rem 0;
    }
  }
}

.mobileNavBar {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  background: $secondary;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding: 0.5rem 2rem;
  display: none;
  img {
    width: 45px;
    border-radius: 50em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    display: none;
  }
  h3 {
    font-size: 1.2rem;
    font-family: $roboto;
    color: $neutral;
  }
  span {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    color: $neutral;
  }
}

@media (max-width: 768px) {
  .mobileNavBar {
    display: block;
  }

  .navbarContainer {
    display: none;
  }

  .mobileNavbarContent {
    align-items: center;
    width: 30vw;
    min-height: 100vh;
    padding: 1rem 0;
    img {
      width: 60px;
      border-radius: 50em;
      margin-top: 0.5rem;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    }
    a {
      text-decoration: none;
      font-family: $raleway;
      font-size: 0.8rem;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.507);
      .linkTitle,
      p {
        font-size: 0.9rem;
      }
      span {
        margin-top: 0rem;
        transition: none;
        opacity: 1;
      }
    }
    .fas,
    .fab {
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.1s ease-in;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
    }
    .social {
      i {
        font-size: 1.3rem;
        padding: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 525px) {
  .mobileNavbarContent {
    width: 65vw;
  }
}
