@import '../../themes.scss';

.navbarContainer {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  position: fixed;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.navbarContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  background: $secondary;
  h1,
  p,
  i {
    color: white;
    // border: 1px solid white;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 60px;
    border-radius: 50em;
    margin-top: 0.5rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  }
  a {
    text-decoration: none;
    font-family: $raleway;
    font-size: 0.8rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.507);
    .linkTitle,
    p {
      display: block;
      text-align: center;
    }
    span {
      margin-top: -1rem;
      transition: all 0.2s ease-out;
      opacity: 0;
      display: none;
    }
    &:hover {
      span {
        margin: 0;
        opacity: 1;
      }
    }
    &:hover {
      .fas,
      .fab {
        opacity: 1;
      }
    }
  }
  .fas,
  .fab {
    font-size: 1.7rem;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.1s ease-in;
    // padding: 1rem 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: $neutral;
    // text-shadow: 0px 0px 0px black;
    &:hover {
      opacity: 1;
      // text-shadow: 0px 1px 2px black;
      // color: $primary;
    }
  }
  .social {
    i {
      font-size: 1rem;
      padding: 0.5rem 0;
    }
  }
}

span {
  display: none;
}

.mobileNavContainer {
  display: none;
}

// @media (max-width: 768px) {
//   .mobileNavContainer {
//   }
//   .navbarContent {
//     position: absolute;
//     left: -50vw;
//   }
//   .navbarContent {
//     width: 35vw;
//     img {
//       width: 75px;
//     }
//   }
//   .linkTitle {
//     display: block;
//     font-size: 0.7rem;
//   }
//   .fab,
//   .fas {
//     opacity: 1;
//     font-size: 2rem;
//   }
//   .social {
//     i {
//       font-size: 1.3rem;
//     }
//   }
//   p {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     span {
//       padding-top: 0.5rem;
//     }
//   }
// }
