@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto');

$primary: #3d4051;
$secondary: #da5032;
$neutral: #f2f4f4;
$highlight: #bb7d4a;
$accent: #8a8a8f;

$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
