@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto');

$terraCotta: #ed6a5a;
$cadetBlue: #5ca4a9;
$blackOlive: #393e41;

$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
